@media (max-width: 857px) {
    body {
        min-height: 100vh;      
        height: 100%;
    }

    .cartao {
        display: flex;
        margin-top: 6%;
        margin-bottom: 5%;
        transform: translateX(2%);
        padding-bottom: 60px;
        flex-direction: column;
        max-width: 300px;
    }

    .cartao .imagem {
        display: flex;
        justify-content: center;
    }

    .cartao .imagem img {
        max-width: 278px;
        max-width: 243px;
        right: 0;
    }

    .cartao .faq {
        position: static;
        right: 0;
    }

    .cartao .faq h2 {
        text-align: center;
        margin-right: 35px;
    }

    .cartao .faq h3 {margin-bottom: 5px;}

    .texto-ativo {font-size: 1.3rem;}

    .cartao .faq .caixa-de-texto h3::after,
    .cartao .faq .caixa-de-texto h3:hover::after,
    .cartao .faq .caixa-de-texto h3:active::after
     {
        position: absolute;
        right: 24px;
        margin: 0;
    }
}

@media (max-width: 540px) {
    .cartao {
        display: flex;
        margin-top: 5%;
        margin-bottom: 5%;
        padding-left: auto;
        transform: translateX(2%);
        padding-bottom: 60px;
        flex-direction: column;
    }

    .cartao .imagem {
        margin: 0 auto;
    }
}

@media (max-width: 450px) {
    .cartao .faq .caixa-de-texto h3 {
        width: 70%;
    }
}

@media (max-width: 390px) {
    .cartao .imagem img {
        width: 90%;
    }
}

@media (max-width: 330px) {
    .cartao .faq .caixa-de-texto h3::after,
    .cartao .faq .caixa-de-texto h3:hover::after,
    .cartao .faq .caixa-de-texto h3:active::after {
        position: absolute;
        right: 0;
        margin-right: 3%;
    }
}