.cartao {
    display: flex;
    margin: 0 auto;
    margin-top: 15%;
    transform: translate(-2%, -7%);
    padding: 60px 25px 0 15px;
    flex-flow: row nowrap;
    /* justify-content: center;
    align-items: center; */
    background-color: var(--cor-do-cartao);
    max-width: 655px;
    width: 100%;
    border-radius: 21px;
    box-shadow: 0px 20px 20px -10px rgba(0, 0, 0, 0.25);
}

.cartao .faq {
    position: relative;
    right: 27px;
    
}

.cartao .faq h2 {
    font-size: 2.5rem;
    font-weight: (--fonte-peso-grande);
    margin-bottom: 14px;
}

.cartao .faq .caixa-de-texto h3 {
    font-size: 1.7rem;
    font-weight: var(--fonte-peso-medio);
    
}

.cartao .faq .caixa-de-texto h3::after {
    content: '';
    background: url(../img/seta.png) no-repeat center center;
    display: inline-block;
    width: 15px;
    height: 8.86px;
    background-size: contain;
    position: absolute;
    right: 0;
    margin: 5px 1.5% 0 auto;
    cursor: pointer;
}

.cartao .faq .caixa-de-texto:nth-child(n+3) h3 {
    margin-top: 15px;
}

.cartao .faq .caixa-de-texto:nth-child(-1n+3) {
    border-bottom: 1px solid var(--cor-da-linha);
    padding-bottom: 15px;
}

.cartao .faq .caixa-de-texto p {
    font-size: 1.5rem;
    margin-top: 10px;
}

.cartao .imagem img {
    max-width: 278px;
    position: relative;
    right: 68px;
    bottom: 21px;
}

/* .cartao .faq .texto {
    display: none;
} */