* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    color: black;
}

html {
    font-size: 62.5%;
    background-color: blue;
    height: 100vh;
}

main {
    height: 100%;
}

.imagem {
    background: url(../img/1.jpg) no-repeat center center;
    background-size: cover;
    width: 100%;
    height: 100%;
}

.primeiro-slide {
    display: block;
}

.slide {
    display: none;
}

.setas {
    display: flex;
    align-items: center;
    width: 56px;
    height: 78px;
}

.seta-esquerda {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
    position: absolute;
    margin-left: 20px;
}

.seta-direita {
    height: 100vh;
    position: absolute;
    right: 0;
    top: 2%;
    transform: rotate(180deg);
    margin-right: 20px;
    z-index: 7;
}

.seta-esquerda img, .seta-direita img {
    cursor: pointer;
    background-color: red;
}

.slide-ativo .informacoes {
    position: absolute;
    top: 50px;
    left: 115px;
    background-color: white;
    max-width: 402px;
    width: 100%;
    border-radius: 10px;
    padding: 54px 59px 53px 60px;
}

.slide-ativo .informacoes h2 {
    font-size: 5rem;
    font-weight: 400;
    margin-bottom: 40px;
}

.slide-ativo .informacoes p {
    line-height: 35px;
    font-size: 2rem;
    font-weight: 300;
    width: 100%;
}

.slide-ativo .informacoes span {
    display: inline-block;
    margin-top: 40px;
    font-weight: 700;
    font-size: 2.5rem;
}

.informacoes {
    z-index: 2;
}
/* .imagem {
    display: none;
} */


/* label img {
    width: 56px;
    height: 78px;
} */

/* label input {
    display: none;
} */

/* div {
    background-color: white;
    max-width: 350px;
    width: 100%;
    margin-left: 180px;
    padding: 69px 60px 0 60px;
    border-radius: 10px;
} */

/* div h1 {
    font-size: 40px;
    font-weight: 400;
} */

/* div p {
    font-weight: 300;
    font-size: 20px;
    max-width: 401px;
    width: 100%;
    margin-top: 60px;
} */

/* div span {
    display: inline-block;
    color: #C50000;
    font-weight: 700;
    font-size: 25px;
    padding: 40px 0 71px 0;
} */
