* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    color: black;
}

html {
    font-size: 62.5%;
}

.slide img {
    z-index: 1;
    width: 100%;
    height: 100%;
}

.informacoes {
    z-index: 2;
}
/* .imagem {
    display: none;
} */


/* label img {
    width: 56px;
    height: 78px;
} */

/* label input {
    display: none;
} */

/* div {
    background-color: white;
    max-width: 350px;
    width: 100%;
    margin-left: 180px;
    padding: 69px 60px 0 60px;
    border-radius: 10px;
} */

/* div h1 {
    font-size: 40px;
    font-weight: 400;
} */

/* div p {
    font-weight: 300;
    font-size: 20px;
    max-width: 401px;
    width: 100%;
    margin-top: 60px;
} */

/* div span {
    display: inline-block;
    color: #C50000;
    font-weight: 700;
    font-size: 25px;
    padding: 40px 0 71px 0;
} */
