.check {
    border-color: var(--value-border-color);
    transition: 0.1s ease-in-out;
}

.error {border-color: var(--required--color);}

form div p {
    display: none;
    color: var(--required--color);
    position: relative;
    bottom: 13px;
    right: 113px;
}

form div:nth-child(4) p:last-child {top: 3px;}

.show {display: block;}

@media (max-width: 385px) {
    form div p {
        display: none;
        color: var(--required--color);
        position: relative;
        bottom: 13px;
        right: 49px;
    }
}