main {
    display: flex;
    flex-flow: row wrap;
}

.text {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    margin-right: 72.75px;
}

.text h1 {
    font-size: 2.0rem;
    width: 287.25px;
    line-height: 23.44px;
}

.text p {
    margin-top: 11px;
    font-size: 1.5rem;
    line-height: 17.58px;
    width: 300px;
}

.text h1,
.text p {color: var(--white);}

.form-section form {
    display: flex;
    flex-flow: column wrap;
    align-content: center;
    width: 100%;
    padding: 20px 12px 10px 12px;
    background-color: var(--white);
}

.form-section form div input, 
.form-section form div textarea,
.form-section form span {font-size: 1.5rem;}

.form-section form div input {
    margin-bottom: 15px;
    padding: 8px 0;
}

.form-section form div input, 
.form-section form div textarea {
    max-width: 298px;
    width: 100%;
    padding-left: 10px;
    border: #000000 solid 1px;
    border-radius: 5px;
}

.form-section form div textarea {
    height: 100px;
    padding-top: 8px;
}

.form-section form span {
    margin: 7px 0 20px -5px; 
}

.form-section form #required-warning {margin-top: 15px;}

.form-section form input[type="button"] {
    width: 300px;
    margin: 0 auto;
    margin-bottom: 12px;
    border: none;
    border-radius: 5px;
    padding: 12px;
    cursor: pointer;
}

.form-section form div {position: relative;}

.form-section form div span {
    font-size: 8px;
    position: absolute;
    margin-left: 2px;
    top: 30px;
    left: 0;
    color: var(--required--color);
}

.form-section form div:nth-child(4) span {
    top: 106px;
}

.form-section form div {
    display: flex;
    justify-content: center;
}