main {
    display: flex;
    flex-flow: row wrap;
}

.text {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    margin-right: 72.75px;
}

.text h1 {
    font-size: 2.0rem;
    width: 287.25px;
    line-height: 23.44px;
}

.text p {
    margin-top: 11px;
    font-size: 1.5rem;
    line-height: 17.58px;
    width: 300px;
}

.text h1,
.text p {color: var(--white);}

form {
    display: flex;
    flex-flow: column wrap;
    align-content: center;
    width: 100%;
    padding: 20px 12px 10px 12px;
    background-color: var(--white);
}

form div input, 
form div textarea,
form span {font-size: 1.5rem;}

form div input {
    margin-bottom: 15px;
    padding: 8px 0;
}

form div input, 
form div textarea {
    max-width: 298px;
    width: 100%;
    padding-left: 10px;
    border: var(--border-color) solid 1px;
    border-radius: 5px;
}

form div textarea {
    height: 100px;
    padding-top: 8px;
}

form span {
    margin: 7px 0 20px -5px; 
}

#required-warning {margin-top: 15px;}

form input[type="submit"] {
    width: 300px;
    margin: 0 auto;
    margin-bottom: 12px;
    border: none;
    border-radius: 5px;
    padding: 12px;
    cursor: pointer;
}

form div {position: relative;}

form div span {
    font-size: 8px;
    position: absolute;
    margin-left: 2px;
    top: 30px;
    left: 0;
    color: var(--required--color);
}

form div:nth-child(4) span {
    top: 106px;
}

form div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus {
    border: none;
    border: 1px solid var(--value-border-color);
    transition: 0.1s ease-in-out;
}