main {
    display: flex;
    flex-flow: row wrap;
}

.text {margin-right: 72.75px;}

.text h1 {
    font-size: 2.0rem;
    width: 287.25px;
}

.text p {
    margin-top: 11px;
    font-size: 1.5rem;
    width: 300px;
}

.text h1,
.text p {color: var(--white);}

.form-section form {
    display: flex;
    flex-flow: column wrap;
    align-content: center;
    width: 100%;
    padding: 20px 10px;
    background-color: var(--white);
}

.form-section form input, 
.form-section form textarea,
.form-section form span {font-size: 15px;}

.form-section form input {
    margin-bottom: 15px;
    padding: 7px 0;
}

.form-section form input, 
.form-section form textarea {
    width: 298px;
    padding-left: 10px;
    border: #000 solid 1px;
    border-radius: 5px;
}

.form-section form textarea {
    height: 100px;
    margin-bottom: 5px;
}

.form-section form span {
    margin: 7px 0 20px -5px;
}